db_root=/media
log_file=/tmp/crossepg.log
dwnl_log_file=/tmp/crossepg.downloader.log
launcher_log_file=/tmp/crossepg.launcher.log
sync_log_file=/tmp/crossepg.sync.log
home_directory=/var/crossepg/
sync_hours=24
skin=default
launcher_red=
launcher_green=
launcher_yellow=
launcher_blue=
launcher_long_red=
launcher_long_green=
launcher_long_yellow=
launcher_long_blue=
start_screen=1
boot_action=2
cron_action=3
cron_hour=3
sync_groups=1
visible_groups=
otv_provider=skyit_hotbird_13.0
channel_sleep=1