# key: log_file
# description: log file for the main app
# how to use:
# log_file = /path/file.log
log_file = /media/myepg.log

# key: dwnl_log_file
# description: log file for the downloader app
# how to use:
# dwnl_log_file = /path/file.log
dwnl_log_file = /media/myepg.downloader.log

# key: sync_log_file
# description: log file for the syncher app
# how to use:
# sync_log_file = /path/file.log
sync_log_file = /media/myepg.sync.log

# key: launcher_log_file
# description: log file for the launcher app
# how to use:
# launcher_log_file = /path/file.log
launcher_log_file = /media/myepg.launcher.log

# key: db_root
# description: db root directory
# how to use:
# db_root = /db_directory/
db_root = /media/

# key: home_directory
# description: myepg home directory
# how to use:
# home_directory = /path/home/
home_directory = /var/myepg/

# key: sync_hours
# description: time filter used for internal epg sync
# how to use:
# sync_hours = hours
sync_hours = 24

# key: sync_groups
# description: group filter used for internal epg sync
# how to use:
# sync_groups = group1|group2|group3
sync_groups = 1

# key: otv_provider
# description: opentv selected provider
# how to use:
# otv_provider = provider_name
otv_provider = skyitalia
