Package: crossepg-enigma2
Section: extra
Priority: optional
Version: 0.3.1-svn-30
Architecture: sh4
Maintainer: Sandro Cavazzoni (http://www.crossepg.com)
Depends:
Description: An EPG downloader
Source: none