<conf>
	<channel name="Joi">
		<export nid="272" tsid="900" sid="111" offset="0" />
		<export nid="272" tsid="900" sid="114" offset="60" />
	</channel>
	<channel name="Mya">
		<export nid="272" tsid="900" sid="112" offset="0" />
	</channel>
	<channel name="Steel">
		<export nid="272" tsid="900" sid="113" offset="0"/>
		<export nid="272" tsid="901" sid="166" offset="60"/>
	</channel>
	<channel name="Premium Cinema">
		<export nid="272" tsid="900" sid="117" offset="0" />
	</channel>
	<channel name="Premium Cinema Emotion">
		<export nid="272" tsid="900" sid="131" offset="0" />
	</channel>
	<channel name="Premium Cinema Energy">
		<export nid="272" tsid="900" sid="132" offset="0"/>
	</channel>
	<channel name="Studio Universal">
		<export nid="272" tsid="900" sid="118" offset="0"/>
	</channel>
</conf>
