Package: crossepg-enigma2
Section: extra
Priority: optional
Version: 0.3.0rc2-svn-21
Architecture: mipsel
Maintainer: Sandro Cavazzoni (http://www.crossepg.com)
Depends:
Description: An EPG downloader
Source: none